
body{
    font-family: 'Baloo 2', cursive;
}
.profile-section{
    background-color: #303644;
    height: 400px;
}
.about-section{
    background-color: #232634; 
    /* height: 600px; */
}
.experience-section{
    background-color: #303644; 
    /* height: 1500px; */
}
.education-section{
    background-color: #232634; 
    padding-bottom: 50px;
    /* height: 400px; */
}
.skills-section{
    background-color: #303644; 
    height: 900px;
}
.profile-img{
    width: 400px; 
    height: 550px;
}
.my-name{
    margin-top: 60px; 
    padding-left: 20px;
}
.greeting{
    margin-top: 0px;
}
.story-btn{
    border-radius: 15px;
    background-color: #F03A17;
    box-shadow: 0px 0px 2px 2px gray;  
}
.story-btn:hover {
    background-color: #FFC107;
    transition: 0.7s;
}

.about-me{
    padding-top: 200px;
}
.experience-title{
    padding-top: 10px;
    padding-bottom: 10px;
}
.card-one{
    /* width: 520px;  */
    border-radius: 50px; 
    border-top-color:#0D6EFD;
    border-bottom-color: #FFC107; 
    border-left-color: #0D6EFD; 
    border-right-color:#FFC107 ; 
    border-width: 4px;
    background-color: #EBDDE2;
    color: #000;
}
.card-two{
    /* width: 520px;  */
    border-radius: 50px; 
    border-top-color:#C04000;
    border-bottom-color: green; 
    border-left-color: #C04000 ; 
    border-right-color: green ; 
    border-width: 4px;
    background-color: #EBDDE2;
    color: #000;
}
.card-three{
    /* width: 520px;  */
    border-radius: 50px; 
    border-top-color:#F660AB;
    border-bottom-color: #7F38EC; 
    border-left-color: #F660AB;     
    border-right-color: #7F38EC ; 
    border-width: 4px;
    background-color: #EBDDE2;
    color: #000;
}
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.container_about {
    height: 200px;
    position: relative;
}
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left:45%;  
}
.vertical-center-exp{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 40%;
}
.typed-out{
    overflow: hidden;
    border-right: .15em solid #F03A17;
    white-space: nowrap;
    animation: 
        typing 7s forwards;
    font-size: 1.6rem;
    width: 0;
}
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}


.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

.single-chart {
    width: 33%;
    justify-content: space-around ;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 40%;
    max-height: 200px;
}

.circle-bg {
    fill: none;
    stroke: #eee;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.orange .circle {
    stroke: #ff9f00;
}

.circular-chart.green .circle {
    stroke: #4CC790;
}

.circular-chart.blue .circle {
    stroke: #3c9ee5;
}

.circular-chart.purple .circle {
    stroke: #7F38EC;
}

.circular-chart.red .circle {
    stroke: #C04000;
} 

.circular-chart.pink .circle {
    stroke:  #F660AB;
}

.percentage {
    fill: #666;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

@media only screen and (max-width: 540px) and (min-width: 280px) {
    .profile-section {
        height: 480px;
    }
    .about-section{ 
        height: 1100px;
    }
    .skills-section{
        height: 1100px;
    }
    .profile-img{
        width: 350px; 
        height: 470px;
    }
    .my-name{
        padding-top: 4px;
        padding-left: 10px;
    }
    .greeting{
        padding: 15px;
        margin-top: 0px;
    }
    .story-btn{
        float: right;
    }
    .about-me{
        padding-top: 550px;
    }
    .experience-title{
        padding-top: 20px;
        padding-bottom: 0px;
    }
    .card-info{
        width: 350px; 
        border-radius: 50px; 
        border-top-color:#0D6EFD;
        border-bottom-color: #FFC107; 
        border-left-color: #0D6EFD; 
        border-right-color:#FFC107 ; 
        border-width: 4px;
    }

    .container_about {
        height: 100px;
        position: relative;
    }
    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left:35%;  
    }

    .vertical-center-exp{
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 30%;
    }
    .vertical-center-exp-text{
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 15%;
    }
    .edu_img{
        text-align: center;
    }
    .edu-info{
        padding: 20px;
    }
    .education-section{
        background-color: #232634;
        padding-bottom: 2px;
    }
}

@media only screen and (max-width: 912px) and (min-width: 768px) {
    .typed-out {
        font-size: 1.2rem;
    }
    .vertical-center-exp-text{
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 30%;
    }
    .edu_img{
        text-align: end;
    }
    .skills-section{
        height: 800px;
    }
}

@media only screen and (max-width: 1280px) and (min-width: 1024px) {
    .greeting{
        margin-top: 35px;
        padding-left: 20px;
    }
    .vertical-center-exp-text{
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 35%;
    }
    .edu_img{
        text-align: right;
    }
}
@media only screen and (min-width: 1300px) {
    .vertical-center-exp-text{
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 40%;
    }
    .edu_img{
        text-align: right;
    }
}